.s1{
    min-height: 100vh;
    height: auto;
    background-image: url('/a.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    color: white;
    margin-top: 80px;
}

.s2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    min-height: 300px;
}

.left img{
    border-radius: 10px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 500px;
    min-height: 300px;
}

@media (width <= 1000px){
    .s1{
        background-image: url('/b.png');
    }
}

.s3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    overflow: hidden;
    border-radius: 12px;
}

.card img {
  width: 100% !important;
  height: 200px !important; /* Forces a massive vertical blowout */
  object-fit: fill !important; /* Guarantees distortion */
  display: block;
}